<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="frontend/css/main.css">
    <link rel="stylesheet" href="frontend/css/grid.css">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="frontend/js/main.js"></script>
</head>
<body>

    <header class="grid-con">
        <h1>Cakes</h1>
        <a href="http://127.0.0.1:8000/api/cakes">cake api</a>
    </header>

    <main id="app" class="grid-con">
        <section class="full hero">
            <h2 class="full">Discover Your New Favorite!</h2>
            <p class="intro-text full">Browse our selection of cakes and various other treats</p>
            <p class="instruction-text full">Scroll side to side! Then click on a cake to see its details</p>

            <div v-if="loadingCakes" class="loader-con">
                <img class="loader" src="frontend/imgs/loader.svg" alt="Loading ...">
            </div>

            <ul id="cake-list" v-else>
                <li v-for="cake in cakesData" :key="cake.id">
                    <h3>
                    <button @click="getCake(cake.id)">
                        {{cake.name}}
                    </button>
                    </h3>
                </li>
            </ul>
        </section>
        <section class="full">
            <div v-if="loadingCake" class="loader-con">
                <img class="loader" src="frontend/imgs/loader.svg" alt="Loading cake details">
            </div>

            <div v-else-if="error" class="error-box">
                {{ error }}
            </div>

            <div v-else-if="selectedCake" id="info-box">
                <h2>Cake Details</h2>
                <p id="name-tag"> {{ selectedCake.name }}</p>
                <p id="description-tag"> {{ selectedCake.description }}</p>
                <p id="price-tag">${{ selectedCake.price }}</p>
            </div>

            <div v-else id="info-box" class="placeholder-box">
                <h2>Cake Details</h2>
                <p>click a cake from the list to view its details here.</p>
            </div>
        </section>
    </main>

    <footer class="grid-con">
            <p class="full">&copy; 2026 Cake API. All rights reserved.</p>
    </footer>

</body>
</html>