#info-box{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 0px auto;
}

@media (min-width: 768px){
    #info-box{
        width: 600px;
        padding: 30px;
        margin: 30px auto;
    }
}