#cake-list{
    list-style: none;
    padding: 20px;
    margin: 10px;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: scroll;
}

#cake-list button{
    width: 250px;
    height: 50px;
    background-color: #700c3c;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#cake-list button:hover{
    background-color: #b41a64;
    transform: scale(1.05) translateY(-5px);
    transition: all 0.3s ease;
}

